<!doctype html>
<html data-theme="winter">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentEase</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {% include "navbar0.html" %}
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Login now!</h1>
                <p class="py-6">Streamlining rental management with ease, efficiency, and peace of mind.</p>
            </div>
            <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <form class="card-body" method="post">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Email</span>
                        </label>
                        <input type="email" id="email" placeholder="email" name="email" class="input input-bordered" required />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="password" placeholder="password" id="password" name="password" class="input input-bordered" required />
                    </div>
                    <div class="form-control mt-6 mb-4">
                        <button class="btn btn-primary">Login</button>
                    </div>
                    Don't Have an Account ?
                    <div class="form-control">
                        <a class="btn btn-primary" id="login" href="/signup">Sign-up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>