{% extends "base.html" %}

{% block content %}
<form class="card-body" method="POST">
    <div class="form-control">
        <label class="label">
            <span class="label-text">First Name</span>
        </label>
        <input type="text" placeholder="Enter First Name" class="input input-bordered" id="firstName"
            required />
    </div>
    <div class="form-control">
        <label class="label">
            <span class="label-text">Last Name</span>
        </label>
        <input type="text" placeholder="Enter Last Name" class="input input-bordered" id="lastName"
            required />
    </div>
    <div class="form-control">
        <label class="label">
            <span class="label-text">Email</span>
        </label>
        <input type="email" placeholder="Enter email" class="input input-bordered" id="email" required />
    </div>
    <div class="form-control">
        <label class="label">
            <span class="label-text">Phone Number</span>
        </label>
        <input type="tel" placeholder="Enter Phone Number" class="input input-bordered" id="phoneNumber"
            required />
    </div>
    <div class="form-control">
        <label class="label">
            <span class="label-text">Password</span>
        </label>
        <input type="password" placeholder="Enter Password" class="input input-bordered" id="password1"
            required />
    </div>
    <div class="form-control">
        <label class="label">
            <span class="label-text">Confirm Password</span>
        </label>
        <input type="password" placeholder="Confirm Password" class="input input-bordered" id="password2"
            required />
    </div>
    <div class="form-control">
        <button class="btn btn-primary">Sign Up</button>
    </div>
</form>
{% endblock %}